@{
    ViewBag.Title = "Test Page";
}

<h2>Examples</h2>

<div class="well">
<h3>#1 Get User Info (by AccessToken)</h3>
    <form action="/Home/GetUser" method="post">
        <input id="accessToken" placeholder="enter access token" type="text" name="accessToken" value="" />
        <input class="btn" id="submit" type="submit" value="submit" />
    </form>
</div>

<div class="well">
    <h2>#2 Account</h2>
    <h3>Get</h3>
    <form action="/Home/GetAccount" method="post">
        <input id="accessToken2" placeholder="enter access token" type="text" name="accessToken" value="" />
        <input id="AccountId" placeholder="enter account id" type="text" name="AccountId" value="" />
        <input class="btn" id="submit" type="submit" value="submit" />
    </form>

    <h3>Find</h3>
    <form action="/Home/FindAccount" method="post">
        <input id="accessToken3" placeholder="enter access token" type="text" name="accessToken" value="" />
        <input id="name" placeholder="enter name" type="text" name="name" value="" />
        <input id="reference_id" placeholder="enter reference id" type="text" name="referenceId" value="" />
        <input id="sort_order" placeholder="enter sort order" type="text" name="sortOrder" value="" />
        <input class="btn" id="submit" type="submit" value="submit" />
    </form>
</div>

<div class="well">
    <h3>#3 Test All</h3>
    <form action="/Home/TestAll" method="post">
        <div class="row">
            <div class="col-xs-6">
                <input class="form-control" placeholder="enter client secret" type="text" name="clientSecret" value="" />
            </div>
            <div class="col-xs-6">
                <input class="form-control" placeholder="enter client id" type="text" name="clientId" value="" />
            </div>
        </div>

        <div class="row" style="padding-top:10px;">
            <div class="col-xs-4">
                <input class="form-control" placeholder="enter email" type="text" name="email" value="" />
            </div>
            <div class="col-xs-4">
                <input class="form-control" placeholder="enter first name" type="text" name="firstName" value="" />
            </div>
            <div class="col-xs-4">
                <input class="form-control" placeholder="enter last name" type="text" name="lastName" value="" />
            </div>
        </div>
        <div class="row" style="padding-top:10px;">
            <div class="col-xs-4">
                <input class="form-control" placeholder="enter call back Uri" type="text" name="callbackUri" value="" />
            </div>
        </div>
        <div class="row" style="padding-top:10px;">
            <div class="col-xs-4">
                <input class="btn" id="submit" type="submit" value="submit" />
            </div>
        </div>
    </form>
</div>