@{
    ViewBag.Title = "Test Page";
}

<h2>Examples</h2>

<div class="well">
    <a href="/user">user</a>
</div>

<div class="well">
    <h3>#1 Test All</h3>
    <form action="/Home/TestAll" method="post">
        <div class="row">
            <div class="col-xs-6">
                <input class="form-control" placeholder="enter client secret" type="text" name="clientSecret" value="" />
            </div>
            <div class="col-xs-6">
                <input class="form-control" placeholder="enter client id" type="text" name="clientId" value="" />
            </div>
        </div>

        <div class="row" style="padding-top:10px;">
            <div class="col-xs-4">
                <input class="form-control" placeholder="enter email" type="text" name="email" value="" />
            </div>
            <div class="col-xs-4">
                <input class="form-control" placeholder="enter first name" type="text" name="firstName" value="" />
            </div>
            <div class="col-xs-4">
                <input class="form-control" placeholder="enter last name" type="text" name="lastName" value="" />
            </div>
        </div>
        <div class="row" style="padding-top:10px;">
            <div class="col-xs-4">
                <input class="form-control" placeholder="enter call back Uri" type="text" name="callbackUri" value="" />
            </div>
        </div>
        <div class="row" style="padding-top:10px;">
            <div class="col-xs-4">
                <input class="btn" id="submit" type="submit" value="submit" />
            </div>
        </div>
    </form>
</div>

<div class="well">
    <h3>#1 Test</h3>
    <form action="/Home/test" method="post">
        <div class="row" style="padding-top:10px;">
            <div class="col-xs-4">
                <input class="btn" id="submit" type="submit" value="submit" />
            </div>
        </div>
    </form>
</div>